h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.brushes {
  background-color: mediumspringgreen;
}

.frames {
  background-color: lightcoral;
}

.header {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

.image {
  width: 100%;
  background: url("../../resources/pattern.jpeg");
  background-clip: content-box;
  background-size: 300%;
  background-position: top;
}

.paint {
  background-color: skyblue;
}

.price {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
